main {
    max-width: 650px;
}

.hero {
    padding-top: 150px;
    padding-bottom: 150px;
}

.icono-buscar {
    top: 25%;
}

@media (min-width: 768px) {
    .form-buscar {
        max-width: 50%;
    }

    .form-input {
        flex-direction: row !important;
    }

    .icono-buscar {
        top: 50%;
    }
}
